/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.header_section .header_content h1 {
		font-size: 51px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header_section .header_content h1 {
		font-size: 38px;
	}

	.feedback {
		margin-bottom: 20px;
	}
	.table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: none; 
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.nav>li {
		position: relative;
		display: block;
		float: left;
	}

	header .navbar-right {
		float: left!important;
		margin-right: 0px;
	}

	header .navbar-inverse .navbar-nav>li>a:not(.cart-button) {
		color: #f6f4f7;
		font-size: 16px;
		line-height: 40px !important;
		-webkit-transition: .4s linear 0.1s;
		-o-transition: .4s linear 0.1s;
		transition: .4s linear 0.1s;
	}

	header ul > li > a.cart-button {
		margin: 10px;
	}
	.header_section .header_content h1 {
		font-size: 38px;
	}
	.header_section {
		padding: 0px 0 50px 0;
		color: #fef3f3;
	}
	h1 {
		font-size: 30px;
		line-height: 1;
	}
	.header_section .header_content {
		text-align: center;
		padding: 0;
	}
	.navbar-header {
		margin: 10px 0;
	}

	footer .footer_logo span{
		display: none;
	}

	h2, .h2 {
		font-size: 30px;
	}
	section h3, section .h3 {
		padding: 20px 0;
	}
	section {
		padding: 20px 0;
	}
	h3, .h3 {
		font-size: 30px;
	}
	section h3, section .h3 {
		padding: 0px 0 30px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.nav>li {
		position: relative;
		display: block;
		float: left;
		margin: 10px;
	}
	header .navbar-brand {
		font-size: 20px;
	}
	footer {
		padding: 15px;
	}
	footer ul{
		margin-top: 0px;
	}

	.instant {
		padding: 20px 0;
	}

	.instant p {
		padding-top: 20px;
	}

	h3, .h3 {
		font-size: 20px;
	}
	.table>tbody>tr>td a.cart-action {
		display: none;
	}
	.filter_name {
		text-align: center;
	}
	.filter_name:nth-child(1) {
		margin-top: 10px;
	}
	.product_detail span.h4,
	.product_detail h4{
		text-align: center;
	}
	.product_detail_add {
		width: 100%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	footer ul{
		margin-top: 0px;
	}
	.product_detail h4,
	.product_detail .h4, {
		text-align: center;
	}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {


}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	

	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}