*::-webkit-input-placeholder {
	color: #4c3e67;
	text-transform: lowercase;
	opacity: 1;
}
*:-moz-placeholder {
	color: #4c3e67;
	text-transform: lowercase;
	opacity: 1;
}
*::-moz-placeholder {
	color: #4c3e67;
	text-transform: lowercase;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #4c3e67;
	text-transform: lowercase;
	opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 20px 0px;
	margin: 5px 0;
	font-size: 14px;
	line-height: 1.42857143;
	color: #4c3e67;
	text-align: center;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba( 111, 61, 102 , .3);
	box-shadow: 0px 0px 15px 0px rgba( 111, 61, 102 , .3);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
	border-color: transparent;
	outline: none;
	-webkit-box-shadow: 0px 0px 15px 0px rgba( 111, 61, 102 , .5);
	box-shadow: 0px 0px 15px 0px rgba( 111, 61, 102 , .5);
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #473b66;
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-bottom: 130px;
}
.content {
	flex: 1 0 auto;
}
/*
*	Header Navbar
*/
header {
	background: -webkit-linear-gradient(rgba(68, 57, 100, .9), rgba(197,65,104, .9));
	background: -o-linear-gradient(rgba(68, 57, 100, .9), rgba(197,65,104, .9));
	background: linear-gradient(rgba(68, 57, 100, .9), rgba(197,65,104, .9)); 
	-webkit-background-size: cover;
	background-size: cover;
}

header .navbar-inverse {
	background-color: transparent !important;
	border-color: transparent !important;
}

header .navbar {
	padding: 15px;
	position: relative;
	min-height: 50px;
	margin-bottom: 0px;
	border: 1px solid transparent;
}

header .navbar-inverse .navbar-brand {
	color: #f6f4f7;
}

header .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 0px;
}

header .navbar-brand {
	float: left;
	height: 50px;
	padding: 0;
	font-size: 30px;
	font-weight: 700;
	line-height: 48px;
	-webkit-transition: .4s linear 0.1s;
	-o-transition: .4s linear 0.1s;
	transition: .4s linear 0.1s;
}

header .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	color: rgba(255,255,255, .7);
	background-color: transparent;
}

header .navbar-brand img{
	padding: 0;
	padding-right: 10px;
	margin: 0;
	float: left;
}

header .navbar-right {
	float: right!important;
	margin-right: 0px;
}

header .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	color: rgba(255,255,255, .7);
	background-color: transparent;
}

header .navbar-inverse .navbar-nav>li>a {
	color: #f6f4f7;
	font-size: 16px;
	-webkit-transition: .4s linear 0.1s;
	-o-transition: .4s linear 0.1s;
	transition: .4s linear 0.1s;
}

header ul > li > a.cart-button {
	font-size: 14px !important;
	color: #473b66 !important;
	vertical-align: middle;
	border-radius: 20px;
	border: 1px solid transparent;
	background-color: rgb( 223, 219, 225 );
	box-shadow: 0px 0px 5px 0px rgb( 223, 219, 225 );
	padding: 10px 15px;
	margin: 5px;
}

.navbar-inverse .navbar-nav>li>a.cart-button:hover,
header .navbar-inverse .navbar-nav>li>a.cart-button:focus, .navbar-inverse .navbar-nav>li>a.cart-button:hover {
	background-color: rgb( 255, 255, 255 );
	box-shadow: 0px 0px 15px 0px rgb( 223, 219, 225 );
}

.navbar-inverse .navbar-toggle {
	border-color: rgb( 223, 219, 225 );
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: transparent;

}

.navbar-collapse {
	box-shadow: none !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: rgba(255,255,255, .7);
	background-color: transparent;
	border-bottom: 1px solid rgba(255,255,255, .7);
}

/*
* Table
*/
.table>thead>tr>th {
	border-bottom: none;
	text-transform: uppercase;
	font-weight: normal;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: none;
	vertical-align: middle;
	text-align: center;
}

.table>tbody>tr>td a,
.table>tbody>tr>td a.cart-action {
	color: #ffe5e5;
	text-decoration: none;
	-webkit-transition:.4s linear 0.1s;
	-o-transition:.4s linear 0.1s;
	transition:.4s linear 0.1s;
}
.table>tbody>tr>td a.cart-action {
	font-style: italic;
}
.table>tbody>tr>td a:hover,
.table>tbody>tr>td a.cart-actionhover {
	color: rgba(254, 243, 243, .7);;
}

section {
	padding: 50px 0;
}
/*
*	Header Section
*/
.header_section {
	padding: 50px 0 100px 0;
	color: #fef3f3;
}

.header_content p{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.header_section .header_content {
	padding: 0 40px 0 0;
}

.header_section .header_content h1 {
	font-weight: 700;
	font-size: 62px;
	line-height: .8;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
}

.header_section .header_content p {
	font-size: 14px;
} 

/*
*	Buttons
*/

.btn-warning {
	color: #473b66 !important;
	background-color: rgb( 236, 205, 67 );
	border-color: rgb( 236, 205, 67 );
	-webkit-box-shadow: 0px 0px 10px 0px rgb( 255, 220, 62 );
	box-shadow: 0px 0px 10px 0px rgb( 255, 220, 62 );
	-webkit-transition: .4s linear 0.1s;
	-o-transition: .4s linear 0.1s;
	transition: .4s linear 0.1s;
}

.btn-warning:hover,
.btn-warning.focus, .btn-warning:focus,
.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, .open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover {
	background-color: rgb( 236, 205, 67 );
	border-color: rgb( 236, 205, 67 );
	box-shadow: 0px 0px 20px 0px rgb( 255, 220, 62 );
}

.btn-primary {
	color: #473b66;
	-webkit-box-shadow: 0px 0px 10px 0px rgb(255,233,233);
	box-shadow: 0px 0px 10px 0px rgb(255,233,233);
	background: rgb(255,233,233);
	-webkit-transition: .4s linear 0.1s;
	-o-transition: .4s linear 0.1s;
	transition: .4s linear 0.1s;
}

.btn-primary.active.focus, 
.btn-primary.active:focus, 
.btn-primary.active:hover, 
.btn-primary.active.focus,
.btn-primary:active.focus, 
.btn-primary:active:focus, 
.btn-primary:active:hover, 
.btn-primary.focus, 
.btn-primary:focus, 
.btn-primary:hover, 
.btn-primary.active, 
.open>.dropdown-toggle.btn-primary.focus, 
.open>.dropdown-toggle.btn-primary:focus, 
.open>.dropdown-toggle.btn-primary:hover {
	color: #473b66;
	background-color: rgb(223,218,225);
	-webkit-box-shadow: 0px 0px 10px 0px rgb(223,218,225);
	box-shadow: 0px 0px 10px 0px rgb(223,218,225);
	border-color:transparent;
}

.btn {
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 15px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 20px;
}
section h3, 
section .h3{
	padding: 0px 0 50px;
}
/*
* Popular Products section
*/
.popular_products {
	background: #ffffff;
}

.thumbnail {
	color: #fef3f3;
	padding: 40px 20px;
	border: 0;
	border-radius: 0;
	background: -webkit-linear-gradient(rgba(68, 57, 100, 1), rgba(197,65,104, 1));
	background: -o-linear-gradient(rgba(68, 57, 100, 1), rgba(197,65,104,1));
	background: linear-gradient(rgba(68, 57, 100, 1), rgba(197,65,104, 1)); 
	box-shadow: 0px 0px 15px 0px rgb( 111, 61, 102 );
}

section.popular_products .thumbnail > a > img,
.thumbnail .product_image img{
	height: 200px;
}

.pop_product_name a {
	color: #fef3f3;
	font-weight: normal;
	font-size: 18px;
	line-height: 3;
}

.pop_product_name a:hover {
	text-decoration: none;
}

.pop_product_price {
	font-size: 20px;
	color: #fef3f3;
	padding-bottom: 15px;
}

.pop_product_price span{
	font-size: 18px;
	vertical-align: middle;
}

/*
*	Instant section
*/

.instant {
	background: -webkit-linear-gradient(rgba(68, 57, 100, .2), rgba(197,65,104, .2)), url(../img/instant-bg.png);
	background: -o-linear-gradient(rgba(68, 57, 100, .2), rgba(197,65,104, .2)), url(../img/instant-bg.png);
	background: linear-gradient(rgba(68, 57, 100, .2), rgba(197,65,104, .2)), url(../img/instant-bg.png); 
	-webkit-background-size: cover;
	background-size: cover;
}

.instant h2 {
	text-transform: uppercase;
	font-weight: 700;
	color: #fef3f3;
	line-height: 1;
}

.instant p {
	color: #fef3f3;
	padding-top: 60px;
}

/*
* Feedback section
*/
.home_feedback {
	background: #ffe9e9;
}

.feedback {
	display: block;
	padding: 20px;
	box-shadow: 0px 0px 15px 5px rgba( 111, 61, 102, .3 );
	background-color: #fff;
}
.feedback_head {
	display: block;
	padding-bottom: 20px;
}
.feedback_head img {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border: 3px solid rgb( 71, 59, 102 );
	float: left;
	margin: 0 15px 0 0;
}

.feedback_content {
	font-size: 13px;
}

.feedback_head {
	text-transform: uppercase;
}

.feedback_head ul {
	padding: 5px 0 0 70px;
	list-style: none;
	margin: 0;
}

.feedback_head ul li:not(:last-child){
	line-height: 1.5;
}
/*	
*	Titles
*/

h3, .h3 {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 700;
	color: #473b66;
}

h2, .h2 {
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 700;
	color: #473b66;
}
/*
*	Footer
*/
footer {
	display: block;
	background: #473b66;
	padding: 40px;
	color: #fef3f3;
	flex: 0 0 auto;
	position: relative;
	height: 130px;
	margin-top: -130px;
	clear: both;
}

footer .footer_logo img {
	width: 50px;
	height: 50px;
}

footer .footer_logo a{
	font-weight: 700;
	line-height: 1.4;
	text-transform: none;
	font-size: 29px;
	color: #fef3f3;
	vertical-align: middle;
}

footer .footer_logo a:hover{
	text-decoration: none;
}

footer .footer_middle {
	vertical-align: middle;
}

footer ul {
	margin-top: 15px;
	list-style: none;
}

footer ul li{
	float: left;
}

footer ul li:not(:last-child){
	padding-right: 20px;
}

footer ul li a {
	color: #fef3f3;
	font-size: 14px;
}

footer ul li a:hover {
	color: #fef3f3;
	text-decoration: none;
}

h1,h2,h3,h4,h5,
.h1,.h2,.h3,.h4,.h5 {
	text-transform: uppercase;
	font-weight: 700;
}

.h4, h4 {
	font-size: 20px;
}

.modal-content {
	position: relative;
	color: #fef3f3;
	background: -webkit-linear-gradient(rgba(68, 57, 100, 1), rgba(197,65,104, 1));
	background: -o-linear-gradient(rgba(68, 57, 100, 1), rgba(197,65,104, 1));
	background: linear-gradient(rgba(68, 57, 100, 1), rgba(197,65,104, 1)); 
	-webkit-box-shadow: 0px 0px 15px 0px rgb( 111, 61, 102 );
	box-shadow: 0px 0px 15px 0px rgb( 111, 61, 102 );
	border: none;
	border-radius: 0;
}

.modal-content h4{
	font-weight: 100;
}

.modal-header,
.modal-footer {
	border: none; 
}

.close {
	float: right;
	font-size: 21px;
	font-weight: 100;
	/* line-height: 1; */
	color: #e4d5dc;
	/* text-shadow: 0 1px 0 #fff; */
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition:.4s linear 0.1s;
	-o-transition:.4s linear 0.1s;
	transition:.4s linear 0.1s;
}

.close:focus, .close:hover {
	color: #e4d5dc;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: .5;
}


/*
*	Product
*/
.product .thumbnail {
	padding: 0 !important;
}

.product  .product_image {
	background: #fff;
	padding: 20px;
	min-height: 200px;
}

.product .thumbnail .product_content {
	padding: 20px;
}

.filters {
	list-style: none;
	margin: 0;
	padding: 0;	
}

.filters li {
	float: left;
	margin-top: 10px;
}

.filters li:not(:last-child) {
	padding-right: 10px;
}

.filters h4,
.filters .h4 {
	color: #473b66;
}

.cart_total {
	font-size: 20px;
}

.product_detail_descr {
	padding: 30px 0;
}
.product_detail {
	margin: 0 0 30px 0;
}

.product_detail img{
	display: block;
	margin: 0 auto;
	max-height: 350px;
}

.product_detail_img_sub {
	display: block;
	margin: 0 auto;
	max-height:70px !important;
	width: 100%;
}
.owl-theme .owl-dots .owl-dot span{
	background: #fef3f3;
}
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
	background: #eccd43;
	-webkit-box-shadow: 0px 0px 10px 0px rgb( 255, 220, 62 );
	box-shadow: 0px 0px 10px 0px rgb( 255, 220, 62 );
	-webkit-transition: .4s linear 0.1s;
	-o-transition: .4s linear 0.1s;
	transition: .4s linear 0.1s;
}
.shop-index {
	padding-top: 40px;
}
.navbar-nav .navbar-right nav a:hover, .navbar-nav .navbar-right nav a:focus {
	color: #23527c;
	text-decoration: none;
}
.navbar-nav .navbar-right nav a:active, .navbar-nav .navbar-right nav a:hover {
	outline: 0;
}